cache/
artifacts/
out/
broadcast/

coverage*
typechain/

# IDE settings
.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default
.idea

node_modules/
.env

.yalc
yalc.lock

contractsInfo.json
.DS_Store
yarn-error.log

.DS_Store*
lcov.info

test/logs

.DS_Store

.gas-snapshot

.invalid-dexs

# script config
script/config.sh
