[submodule "lib/ds-test"]
	path = lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/rari-capital/solmate
[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "lib/create3-factory"]
	path = lib/create3-factory
	url = https://github.com/lifinance/create3-factory
[submodule "lib/sgn-v2-contracts"]
	path = lib/sgn-v2-contracts
	url = https://github.com/celer-network/sgn-v2-contracts
[submodule "lib/safe-tx-cli"]
	path = lib/safe-tx-cli
	url = https://github.com/sambacha/safe-tx-cli
[submodule "lib/openzeppelin-contracts"]
	path = lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
