[profile.default]
test = 'test/solidity'
solc_version = '0.8.17'
evm_version = 'paris'
optimizer = true
optimizer_runs = 1000000
sender = '0x00a329c0648769a73afac7f9381e08fb43dbea73'
tx_origin = '0x00a329c0648769a73afac7f9381e08fb43dbea73'
out = 'out'
fs_permissions = [
  { access = "read", path = "./deployments/" },
  { access = "read", path = "./config/" },
  { access = "read-write", path = "./test/logs/" },
]
ffi = true
libs = ["node_modules", "lib"]
cache = true

[rpc_endpoints]
mainnet = "${ETH_NODE_URI_MAINNET}"
arbitrum = "${ETH_NODE_URI_ARBITRUM}"
aurora = "${ETH_NODE_URI_AURORA}"
avalanche = "${ETH_NODE_URI_AVALANCHE}"
blast = "${ETH_NODE_URI_BLAST}"
boba = "${ETH_NODE_URI_BOBA}"
bsc = "${ETH_NODE_URI_BSC}"
celo = "${ETH_NODE_URI_CELO}"
cronos = "${ETH_NODE_URI_CRONOS}"
evmos = "${ETH_NODE_URI_EVMOS}"
fantom = "${ETH_NODE_URI_FANTOM}"
fraxtal = "${ETH_NODE_URI_FRAXTAL}"
fuse = "${ETH_NODE_URI_FUSE}"
harmony = "${ETH_NODE_URI_HARMONY}"
gnosis = "${ETH_NODE_URI_GNOSIS}"
gravity = "${ETH_NODE_URI_GRAVITY}"
immutablezkevm = "${ETH_NODE_URI_IMMUTABLEZKEVM}"
kaia = "${ETH_NODE_URI_KAIA}"
linea = "${ETH_NODE_URI_LINEA}"
moonbeam = "${ETH_NODE_URI_MOONBEAM}"
moonriver = "${ETH_NODE_URI_MOONRIVER}"
nova = "${ETH_NODE_URI_NOVA}"
mantle = "${ETH_NODE_URI_MANTLE}"
metis = "${ETH_NODE_URI_METIS}"
mode = "${ETH_NODE_URI_MODE}"
okx = "${ETH_NODE_URI_OKX}"
opbnb = "${ETH_NODE_URI_OPBNB}"
optimism = "${ETH_NODE_URI_OPTIMISM}"
polygon = "${ETH_NODE_URI_POLYGON}"
polygonzkevm = "${ETH_NODE_URI_POLYGONZKEVM}"
rootstock = "${ETH_NODE_URI_ROOTSTOCK}"
sei = "${ETH_NODE_URI_SEI}"
taiko = "${ETH_NODE_URI_TAIKO}"
velas = "${ETH_NODE_URI_VELAS}"
xlayer = "${ETH_NODE_URI_XLAYER}"
zksync = "${ETH_NODE_URI_ZKSYNC}"
scroll = "${ETH_NODE_URI_SCROLL}"

# testnets
goerli = "${ETH_NODE_URI_GOERLI}"
bsc-testnet = "${ETH_NODE_URI_BSCTEST}"
lineatest = "${ETH_NODE_URI_LINEATEST}"
localanvil = "${ETH_NODE_URI_LOCALANVIL}"
mumbai = "${ETH_NODE_URI_MUMBAI}"
base = "${ETH_NODE_URI_BASE}"

[etherscan]
mainnet = { key = "${MAINNET_ETHERSCAN_API_KEY}", chain = "1" }
arbitrum = { key = "${ARBITRUM_ETHERSCAN_API_KEY}", url = "https://api.arbiscan.io/api", chain = "42161" }
aurora = { key = "${AURORA_ETHERSCAN_API_KEY}", url = "https://explorer.mainnet.aurora.dev/api", chain = "1313161554", verifier = "blockscout" }
avalanche = { key = "${AVALANCHE_ETHERSCAN_API_KEY}", url = "https://api.snowtrace.io/api", chain = "43114" }
base = { key = "${BASE_ETHERSCAN_API_KEY}", url = "https://api.basescan.org/api", chain = "8453" }
blast = { key = "${BLAST_ETHERSCAN_API_KEY}", url = "https://api.blastscan.io/api", chain = "81457" }
boba = { key = "${BOBA_ETHERSCAN_API_KEY}", url = "https://api.bobascan.com/api", chain = "288" }
bsc = { key = "${BSC_ETHERSCAN_API_KEY}", url = "https://api.bscscan.com/api", chain = "56" }
celo = { key = "${CELO_ETHERSCAN_API_KEY}", url = "https://api.celoscan.io/api", chain = "42220" }
cronos = { key = "${CRONOS_ETHERSCAN_API_KEY}", url = "https://api.cronoscan.com/api", chain = "25" }
fantom = { key = "${FANTOM_ETHERSCAN_API_KEY}", url = "https://api.ftmscan.com/api", chain = "250" }
fraxtal = { key = "${FRAXTAL_ETHERSCAN_API_KEY}", url = "https://api.fraxscan.com/api", chain = "252" }
fuse = { key = "${FUSE_ETHERSCAN_API_KEY}", url = "https://explorer.fuse.io/api", chain = "122" }
gnosis = { key = "${GNOSIS_ETHERSCAN_API_KEY}", url = "https://api.gnosisscan.io/api", chain = "100" }
gravity = { key = "${GRAVITY_ETHERSCAN_API_KEY}", url = "https://explorer.gravity.xyz/api", chain = "1625", verifier = "blockscout" }
immutablezkevm = { key = "${IMMUTABLEZKEVM_ETHERSCAN_API_KEY}", url = "https://explorer.immutable.com/api", chain = "13371", verifier = "blockscout" }
kaia = { key = "${KAIA_ETHERSCAN_API_KEY}", url = "https://api-cypress.klaytnscope.com/api", chain = "8217", verifier = "blockscout" }
linea = { key = "${LINEA_ETHERSCAN_API_KEY}", url = "https://api.lineascan.build/api", chain = "59144" }
mantle = { key = "${MANTLE_ETHERSCAN_API_KEY}", url = "https://api.routescan.io/v2/network/mainnet/evm/5000/etherscan", chain = "5000" }
metis = { key = "${METIS_ETHERSCAN_API_KEY}", url = "https://api.routescan.io/v2/network/mainnet/evm/1088/etherscan", chain = "1088" }
mode = { key = "${MODE_ETHERSCAN_API_KEY}", url = "https://api.routescan.io/v2/network/mainnet/evm/34443/etherscan", chain = "34443" }
moonbeam = { key = "${MOONBEAM_ETHERSCAN_API_KEY}", url = "https://api-moonbeam.moonscan.io/api", chain = "1284" }
moonriver = { key = "${MOONRIVER_ETHERSCAN_API_KEY}", url = "https://api-moonriver.moonscan.io/api", chain = "1285" }
optimism = { key = "${OPTIMISM_ETHERSCAN_API_KEY}", url = "https://api-optimistic.etherscan.io/api", chain = "10" }
polygon = { key = "${POLYGON_ETHERSCAN_API_KEY}", url = "https://api.polygonscan.com/api", chain = "137" }
polygonzkevm = { key = "${POLYGONZKEVM_ETHERSCAN_API_KEY}", url = "https://api-zkevm.polygonscan.com/api", chain = "1101" }
scroll = { key = "${SCROLL_ETHERSCAN_API_KEY}", url = "https://api.scrollscan.com/api", chain = "534352" }
sei = { key = "${SEI_ETHERSCAN_API_KEY}", url = "https://seitrace.com/pacific-1/api", chain = "1329" }
taiko = { key = "${TAIKO_ETHERSCAN_API_KEY}", url = "https://api.taikoscan.io/api", chain = "167000" }
xlayer = { key = "${XLAYER_ETHERSCAN_API_KEY}", url = "https://www.oklink.com/api/v5/explorer/xlayer/api", chain = "196" }

#testnets
goerli = { key = "${MAINNET_ETHERSCAN_API_KEY}" }
bsc-testnet = { key = "${BSC_ETHERSCAN_API_KEY}", url = "https://api-testnet.bscscan.com/" }
mumbai = { key = "${MUMBAI_ETHERSCAN_API_KEY}", url = "https://api-testnet.polygonscan.com/api" }
