name: EMERGENCY >> Pause BSC STAGING diamond

on:
  workflow_dispatch:
    inputs:
      warning:
        description: "By clicking the next button you are pausing the BSC STAGING diamond. Please proceed with extreme caution !!! You must type 'UNDERSTOOD' to proceed"
        required: true

permissions:
  contents: read # required to fetch repository contents

jobs:
  diamond-emergency-pause:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.7

      - name: Set up Bun
        uses: oven-sh/setup-bun@v2
      
      - name: Install dev dependencies
        run: bun install

      - name: Check input
        if: ${{ inputs.warning != 'UNDERSTOOD' }}
        run: |
          echo -e "\033[31mYou must type 'UNDERSTOOD' to proceed. Please try again. \033[0m"
          exit 1

      - name: Authenticate git user (check membership in 'DiamondPauser' group)
        if: ${{ inputs.warning == 'UNDERSTOOD' }}
        id: authenticate-user
        uses: tspascoal/get-user-teams-membership@v3
        with:
          username: ${{ github.actor }}
          organization: lifinance
          team: diamondpauser
          GITHUB_TOKEN: ${{ secrets.GIT_ACTIONS_BOT_PAT_CLASSIC }}

      - name: Check team membership
        if: ${{ inputs.warning == 'UNDERSTOOD' }}
        run: |
          echo -e "\033[32mUser is a member of the DiamondPauser team and may execute this action\033[0m"

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Fetch RPC endpoints from MongoDB
        run: |
          # Run the fetch-rpcs.ts script to update .env with RPC endpoint variables
          # This will fetch prioritized RPCs from MongoDB, or fall back to public RPCs from networks.json if MongoDB is unavailable
          bun fetch-rpcs
          # Only inject RPC endpoint variables into the GitHub Actions environment
          while IFS= read -r line || [[ -n "$line" ]]; do
            if [[ "$line" =~ ^ETH_NODE_URI_ ]]; then
              echo "$line" >> "$GITHUB_ENV"
            fi
          done < ".env"
        env:
          MONGODB_URI: ${{ secrets.MONGODB_URI }}

      - name: Pause Diamond
        run: |
          source script/tasks/diamondEMERGENCYPauseStaging.sh
          diamondEMERGENCYPauseStaging "bsc"
        env:
          PRIVATE_KEY_PAUSER_WALLET: ${{ secrets.PRIV_KEY_PAUSER_WALLET_STAGING }}

      - name: Send Reminder to Slack SC-general Channel
        uses: slackapi/slack-github-action@v2.0.0
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_SC_GENERAL }}
          webhook-type: incoming-webhook
          payload: |
            text: 'TEST TEST TEST ATTENTION - the emergency diamond pause action was just executed on BSC STAGING by ${{ github.actor }}'