name: Slither2
on:
  push:
jobs:
  analyze:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      security-events: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1.2.0
        with:
          version: nightly

      - name: Build project (with specific slither parameters)
        run: forge build --extra-output abi --extra-output userdoc --extra-output devdoc --extra-output evm.methodIdentifiers --force

      - name: Run Slither
        uses: crytic/slither-action@v0.4.0
        with:
          ignore-compile: true
          node-version: 20
          sarif: results.sarif
          fail-on: none
          target: 'src/'

      # - name: Verify Foundry Installation
      #   run: forge --version
      # - name: Run Slither
      #   uses: crytic/slither-action@dev-install-foundry
      #   id: slither
      #   with:
      #     node-version: 20
      #     sarif: results.sarif
      #     fail-on: none
      #     target: 'src/'

      # - name: Upload SARIF file
      #   uses: github/codeql-action/upload-sarif@v3
      #   with:
      #     sarif_file: ${{ steps.slither.outputs.sarif }}

      # - name: Create Markdown Report / Checklist
      #   uses: crytic/slither-action@v0.4.0
      #   id: slither2
      #   with:
      #     node-version: 20
      #     fail-on: none
      #     slither-args: --checklist --markdown-root ${{ github.server_url }}/${{ github.repository }}/blob/${{ github.sha }}/

      # - name: Create/update checklist as PR Comment
      #   uses: actions/github-script@v7
      #   if: github.event_name == 'pull_request'
      #   env:
      #     REPORT: ${{ steps.slither.outputs.stdout }}
      #   with:
      #     script: |
      #       const script = require('.github/scripts/comment')
      #       const header = '# Slither report'
      #       const body = process.env.REPORT
      #       await script({ github, context, header, body })
