name: Notify SmartContract channel when scripts config file changes

on:
  pull_request:
    paths:
      - 'script/config.example.sh'
    types:
      - opened
      - synchronize

permissions:
  contents: read # required to evaluate changed files and trigger based on path filters

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - name: Send Reminder to Slack SC-general Channel
        uses: slackapi/slack-github-action@v2.1.1
        with:
          webhook: ${{ secrets.SLACK_WEBHOOK_SC_GENERAL }}
          webhook-type: incoming-webhook
          payload: |
            text: "Hey team, please update your scripts/config.sh file (see config.example.sh for latest changes)"
