name: Version Check

on:
  pull_request:
    types: [opened, edited, synchronize]

jobs:
  check-version:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Fetch all history for all branches

      - name: Fetch base branch
        run: git fetch origin +refs/heads/${{ github.event.pull_request.base.ref }}:refs/remotes/origin/${{ github.event.pull_request.base.ref }}

      - name: Get list of modified files
        id: modified_files
        run: |
          BASE_REF="${{ github.event.pull_request.base.ref }}"

          # get all files modified by this PR
          FILES=$(git diff --name-only origin/${BASE_REF} HEAD)

          # make sure that modified files of this PR are available
          if [[ -z $FILES ]]; then
            echo "No files found. This should not happen. Please check the code of the Github action"
            exit 1
          fi

          # Initialize empty variables
          FACETS=""
          PERIPHERY=""

          # go through all file names and identify facet & periphery contracts
          while IFS= read -r FILE; do
            if echo "$FILE" | grep -E '^src/Facets/.*\.sol$'; then
              FACETS="$FACETS $FILE"
              echo "C"
            elif echo "$FILE" | grep -E '^src/Periphery/.*\.sol$'; then
              PERIPHERY="$PERIPHERY $FILE"
              echo "D"
            fi
          done <<< "$FILES"

          # if none found, exit here as there is nothing to do
          if [[ -z "$FACETS" && -z "$PERIPHERY" ]]; then
            echo "No facets or periphery contracts found in files modified/added by this PR"
            exit 0
          fi

          # Write filenames to temporary files (using variables was causing issues)
          echo "$FILES" > modified_files.txt
          echo "$FACETS" > modified_facets.txt
          echo "$PERIPHERY" > modified_periphery.txt

      - name: Check version tags and post reminders
        id: check_versions
        run: |
          echo "A"
          FILES=$(cat modified_files.txt)  # Read filenames from the temporary file
          FACETS=$(cat modified_facets.txt)  # Read filenames from the temporary file
          PERIPHERY=$(cat modified_periphery.txt)  # Read filenames from the temporary file
          echo "B"
          echo "FILES=$FILES"
          echo "FACETS=$FACETS"
          echo "PERIPHERY=$PERIPHERY"


          # Initialize empty variables
          FACETS=""
          PERIPHERY=""

          # Process each file separately
          while IFS= read -r FILE; do
            if echo "$FILE" | grep -E '^src/Facets/.*\.sol$'; then
              FACETS="$FACETS $FILE"
              echo "C"
            elif echo "$FILE" | grep -E '^src/Periphery/.*\.sol$'; then
              PERIPHERY="$PERIPHERY $FILE"
              echo "D"
            fi
          done <<< "$FILES"
          echo "E"
          # PERIPHERY=$(echo "$FILES" | grep -E '^src/Periphery/.*\.sol$')

          echo "FACETS found: $FACETS"
          echo "PERIPHERY found: $PERIPHERY"

          if [[ -z "$FACETS" && -z "$PERIPHERY" ]]; then
            echo "No facets or periphery contracts found in files modified/added by this PR"
            exit 0
          fi

      - name: Post reminder comment
        if: steps.check_versions.outputs.MISSING_VERSIONS
        uses: actions/github-script@v5
        with:
          script: |
            const MISSING_VERSION_FILES = '${{ steps.check_versions.outputs.MISSING_VERSIONS }}'.split(',');
            const body = `Did you forget to update the version in file(s): ${MISSING_VERSION_FILES.join(', ')}?`;
            github.rest.issues.createComment({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              body: body
            });

      - name: Update PR title with updated version info
        if: steps.check_versions.outputs.UPDATED_FILES
        uses: actions/github-script@v5
        with:
          script: |
            const UPDATED_FILES = '${{ steps.check_versions.outputs.UPDATED_FILES }}'.split(',');
            let prTitle = context.payload.pull_request.title;

            for (const file of UPDATED_FILES) {
              const fileName = file.split('/').pop().replace('.sol', '');
              const fileContent = require('fs').readFileSync(file, 'utf8');
              const versionMatch = fileContent.match(/@custom:version\s+([\d.]+)/);
              if (versionMatch) {
                const version = versionMatch[1];
                const versionTag = `${fileName} v${version}`;
                if (!prTitle.includes(versionTag)) {
                  prTitle += ` (${versionTag})`;
                }
              }
            }

            github.rest.pulls.update({
              owner: context.repo.owner,
              repo: context.repo.repo,
              pull_number: context.issue.number,
              title: prTitle
            });
